@page "/"
@inject StateContainer stateContainer

<h2>Cosmos Explorer</h2>

<p>
    <textarea @bind="connectionString" placeholder="Cosmos connection string" cols="80" rows="5"></textarea>
</p>

<button class="btn btn-primary" @onclick="SaveAsync">Save</button>
@code {
    private string connectionString { get; set; } = "";


    protected override async Task OnInitializedAsync()
    {
        connectionString =  stateContainer.ConnectionString;
    }

    private async Task SaveAsync()
    {
        stateContainer.ConnectionString = connectionString;
    }

}
